.mt-2 {
  margin-top: 80px;
}

h1 {
  text-align: center;
}

.card {
  flex: none !important;
}

.card-body {
  flex: none !important;
}

.center {
  margin: 0px auto;
}

img.resize {
    width:30px; /* you can use % */
    height: auto;
}
